* {
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.header-nav-container {
    display: block;
    position: fixed;
    top: 0;
    left: 43%;
    width: 14%;
    height: 100%;
    /*background-color: #FFFF99;*/
    margin-top: 60px;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.section-conteiner {
    position: relative;
    margin: 0;
    padding: 0;
}

.nav-list > li {
    text-align: center;

}

.nav-list > li:nth-child(1)::after {
    content: "";
    display: block;
    width: 60px;
    height: 1px;
    margin: 0 auto;
    background-color: #4C5B5C;
}

.nav-list > li:nth-child(1)::before {
    content: "";
    display: block;
    width: 60px;
    height: 1px;
    margin: 0 auto;
    background-color: #4C5B5C;
}

.nav-list > li > a {
    text-decoration: none;
    color: #222222;
    font: 400 0.9375rem/2 "Raleway", sans-serif;
}

.nav-img {
    margin: 40px 0;
    text-align: center;
}

.container-col-left {
    position: relative;
    width: 43%;
    float: left;
}

.col-left, .col-right {
    width: 85%;
    height: 100%;
    /*background-color: lightcyan;*/
    margin: 60px 0;
}

.col-left {
    float: right;
}

.col-left-list, .col-right-list {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

.col-left-list {
    float: left;

}

.col-right-list {
    float: right;
}

.col-left-list > li > a > img {
    width: 220px;
    height: 200px;
}

.col-right-list > li > a > img {
    width: 220px;
    height: 200px;
}

.container-col-right {
    width: 43%;
    float: right;
}

.col-right {
    float: left;
}

.article {
    margin: 0;
    padding: 0;
}

.article > a {
    text-decoration: none;
    color: #222222;
    font: 400 0.9375rem/2 "Raleway", sans-serif;
}

.article > a > img {
    width: 100%;
}

.article > h4 {
    margin: 9px 0;
    padding: 0;
    font: 700 1.0625rem/1.5 "Raleway", sans-serif;
    color: #222222;
}

.article > p {
    margin: 0;
    padding: 0;
    font: 500 0.9375rem/1.8 "Raleway", sans-serif;
    color: #222222;
}

.article-list {
    padding: 0 0 15px 0;
    list-style: none;
    float: left;
    border-bottom: 1px dotted #4C5B5C;
    width: 100%;
    margin-bottom: 50px;
}

.article-list > li {
    display: inline-block;
    font: 400 0.8125rem/1 "Raleway", sans-serif;
}

.article-list > li > a {
    text-decoration: none;
    color: #222222;
    font: 400 0.8125rem/1 "Raleway", sans-serif;
}

.article-list > li > a:hover {
    text-decoration: underline;
    color: red;
}

@media screen and (max-width: 1220px) {
    .col-left-list > li > a > img {
        width: 200px;
        height: 180px;
    }

    .col-right-list > li > a > img {
        width: 200px;
        height: 180px;
    }
}

@media screen and (min-width: 600px) and (max-width: 1110px) {
    .header-nav-container {
        display: block;
        margin: 0 auto;
        padding: 0;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /*background-color: #FFFF99;*/
    }

    .nav-list {
        width: 100%;
        text-align: center;
    }

    .nav-list > li {
        display: inline-block;
        padding: 0 10px;
        
    }

    .container-col-left {
        display: none;
    }

    .container-col-right {
        width: 100%;
        float: none;
    }
    .col-left-list > li > a > img {
        width: 183px;
        height: 169px;
    }

    .col-right-list > li > a > img {
        width: 183px;
        height: 169px;
    }

    .col-right {
        float: none;
        margin: 0 auto;
    }
}

@media all and (max-width: 599px) {
    .header-nav-container {
        display: block;
        margin: 0;
        padding: 0;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /*background-color: #FFFF99;*/
    }

    .nav-list > li{
        display: none;
    }

    .container-col-left {
        display: none;
    }

    .container-col-right {
        width: 100%;
        float: none;
    }

    .col-right {
        float: none;
        margin: 0 auto;
    }

    .header-small-menu {
        display: block;
        position: absolute;
        width: 35px;
        height: 35px;
        font-size: 1.125rem;
        border: 1px solid #888;
        border-radius: 50%;
        text-align: center;
        color: #333;
        top: 20px;
        right: 20px;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url('../img/header-small-menu.png');
        opacity: 0.7;
        cursor: pointer;
    }
}
